@model int

<div class="row">
    <div class="col-6">
        <a class="btn btn-primary form-control" asp-action="Edit" asp-route-Id="@Model">Edytuj</a>
    </div>
    <div class="col-6">
        <a asp-action="Index" class="btn btn-success form-control">Wróć do Listy</a>
    </div>
</div>
